
Makefile

CMakeCache.txt
install_manifest.txt
uninstall.txt
uninstall.txt.bak

cmake_install.cmake

CMakeFiles/
cefpyco.egg-info/
build/
dist/

.pytest_cache/
__pycache__/

*.so
*.a
*.o
c_src/cefparse/libcefpyco_parse.a
c_src/libcefpyco_csrc.a
libcefpyco.so

c_src/test/run_cefpyco
c_src/test/test_cefpyco
