Makefile

CMakeCache.txt
install_manifest.txt
uninstall.txt
uninstall.txt.bak

cmake_install.cmake

CMakeFiles/
cefpyco.egg-info/
build/
dist/

.pytest_cache/
__pycache__/

*.so
*.a
*.o
src/cefpyco_c/cefparse/libcefpyco_parse.a
src/cefpyco_c/libcefpyco_csrc.a
libcefpyco.so

src/cefpyco_c/test/run_cefpyco
src/cefpyco_c/test/test_cefpyco

.vscode/